@model  IEnumerable<CommentViewModel>

<div style="height: 60px;"></div>
@foreach (var comment in Model)
{
    <div class="row" style="padding: 20px;">
        <div class="col s2">
            <img src="~/File/@comment.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="avatar" class="circle responsive-img" style="width: 60px; vertical-align: top;" />
        </div>
        <div class="col s10" style="margin-left: -20px;">
            <a class="a-profile" href="/Profile/@comment.Creator.Id"><b>@comment.Creator.FirstName @comment.Creator.LastName</b></a>
            <small>@comment.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</small>
            <div>
                @comment.Content
            </div>
        </div>
    </div>
}
