@model EventViewModel

@if (Model != null)
{
    <a class="anchor-hover" href="@Model.Url">
        <h4 class="text-center">@Model.Title</h4>
        <img src="~/File/@Model.Photo.Id" alt="photo" class="img-responsive" />
    </a>
}
