@model IEnumerable<PostViewModel>

@foreach (var post in Model)
{
    <div class="col s12 m12 l4">
        <!-- Info Post Modal -->
        <div id="postInfoModal-@post.Id" class="modal custom-modal">
            <div class="modal-content">
                @{ Html.RenderAction("ById", "Posts", new { id = post.Id }); }
            </div>
        </div>
        <article class="card feed hoverable">
            <div class="card-content intro">
                <div class="profile-image">
                    <img src="~/File/@post.Creator.Files.First(x => x.FileType == FileType.Avatar).Id" alt="avatar" />
                </div>
                <div class="feed-info">
                    <div class="user-name"><a href="~/Profile/@post.Creator.Id">@post.Creator.FirstName @post.Creator.LastName</a></div>
                    <div>
                        <i class="material-icons">date_range</i>
                        <span class="feed-date"> @post.CreatedOn.ToString("dd MMM HH:mm", CultureInfo.CreateSpecificCulture("en-US"))</span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="card-content">
                <p>@post.Title</p>
            </div>

            <div class="card-image">
                <img src="~/File/@post.Photo.Id" alt="photo" />
            </div>

            <div class="card-action">
                <a class="waves-effect waves-grey main modal-trigger" href='#postInfoModal-@post.Id'>EXPLORE</a>
            </div>
        </article>
    </div>
}
