@model ProfileViewModel

<li class="relative" id="profile-link-example">
    <a href="/Profile/@Model.Id" data-position="bottom" data-delay="50" data-tooltip="@Model.FirstName @Model.LastName" class="tooltipped">
        <img class="profile-img" src="~/File/@Model.Files.First(x => x.FileType == FileType.Avatar).Id">
        <div class="pulse"></div>
    </a>
</li>
