@model ProfileViewModel

<div id="profile-cover" class="custom-parallax"></div>

<div id="profile-info">
    <div class="container">
        <div class="row">
            <div class="col m3 s12">
                <img class="profile-image z-depth-1" src="~/File/@Model.Files.First(x => x.FileType == FileType.Avatar).Id" />
            </div>
            <div class="col m9 s12">
                <article class="profile-data">
                    <div class="name">@Model.FirstName @Model.LastName</div>
                    <div class="row">
                        <div class="col m9 s12">
                            <div class="profile-scores">
                                <div class="row">
                                    <div class="col s4">
                                        <span class="heavy">@Model.PostsCount</span> posts
                                    </div>
                                    <div class="col s4">
                                        <span class="heavy">0</span> followers
                                    </div>
                                    <div class="col s4">
                                        <span class="heavy">0</span> following
                                    </div>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </p>
                        </div>
                        <div class="col m3 s12">
                            <div class="profile-actions">
                                <a class="waves-effect waves-grey btn-flat grey lighten-4 follow">follow</a>
                                <a class="waves-effect waves-grey btn-flat grey lighten-4 discover">discover</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

<section id="profile-content">
    <div id="profile-content-tabs" class="tabs-menu z-depth-1">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab"><a href="#posts">posts</a></li>
                        <li class="tab"><a href="#followers">followers</a></li>
                        <li class="tab"><a href="#following">following</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="profile-content-wrapper" class="tabs-content">
        <div class="container">
            <div class="row">
                <div id="posts">
                    @{ Html.RenderAction("ByUserId", "Posts", new { userId = Model.Id }); }
                </div>
                <div id="followers">

                </div>
                <div id="following">

                </div>
            </div>
        </div>
    </div>
</section>
