@using (Html.BeginForm("Search", "Search", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="input-field">
        <input id="search" name="query" type="search" required style="border-radius: 40px;">
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
    </div>
}