@model SearchViewModel

<div id="dashboard-cover" class="custom-parallax"></div>

<section id="dashboard-content">
    <div id="dashboard-content-tabs" class="tabs-menu z-depth-1">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab"><a href="#users">users</a></li>
                        <li class="tab"><a href="#articles">articles</a></li>
                        <li class="tab"><a href="#events">events</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="dashboard-content-wrapper" class="tabs-content" style="padding-left: 15px; padding-right: 15px;">
        <div class="container">
            <div class="row">
                <div id="users">
                    @foreach (var user in Model.Users)
                    {
                        <div class="col s12 m12 l4">
                            <article class="card feed hoverable">
                                <div class="card-content intro">
                                    <div class="profile-image">
                                        <img src="~/File/@user.Files.First(x => x.FileType == FileType.Avatar).Id" alt="avatar" />
                                    </div>
                                    <div class="feed-info">
                                        <div class="user-name"><a href="~/Profile/@user.Id">@user.FirstName @user.LastName</a></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </article>
                        </div>
                    }
                </div>
                <div id="articles">
                    @foreach (var user in Model.Articles)
                    {

                    }
                </div>
                <div id="events">
                    @foreach (var user in Model.Events)
                    {
                        
                    }
                </div>
            </div>
        </div>
    </div>
</section>
